{% extends "base.html" %} {% block content %}

<form id="add-rule" name="add-rule">
    {{ macros.setting_input_text_and_buttons('location_path', 'Location Path', [['gen_random_path_btn', '랜덤 주소']], desc=['요청을 처리할 URL 경로']) }}
    {{ macros.setting_radio('auth_type', '인증', ['없음', 'SJVA auth', 'BasicAuth']) }}
    <div id="basic_auth_div" class="collapse">
        {{ macros.setting_input_text('username', 'USER', value='', col='3') }}
        {{ macros.setting_input_text('password', 'PASS', value='', col='3', type='password') }}
    </div>
    {{ macros.setting_checkbox('use_project_install', '프로젝트 연결', value='false', desc=['유용한 프로젝트를 설치하고 그 폴더를 연결합니다.']) }}
    <div id="use_project_install_div" class="collapse">
        {{ macros.setting_select_and_buttons('project_template_sel', '프로젝트 선택', arg['project_template_list'], [['goto_project_home_btn', '홈페이지']]) }}
        {{ macros.setting_input_text('project_install_cmd', '설치 명령', desc=['필요한 경우 수동 지정']) }}
        {{ macros.setting_input_text('project_install_dir', '설치 폴더', desc=['프로젝트를 설치할 루트 폴더 지정하세요.']) }}
    </div>
    <div id="use_manual_root_div" class="collapse show">
        {{ macros.setting_input_text('www_root', 'WWW Root', desc=['연결할 로컬 경로(/로 시작) 혹은 redirect URL(http로 시작)']) }}
    </div>
    {{ macros.setting_button([['add-rule-btn', '추가하기']]) }}
</form>

<div class="mt-3 d-flex w-100 justify-content-between">
    <h6 class="mt-2 mb-0" style="flex: 1;">등록된 규칙 <span class="text-muted small" id="rule-loaded"></span></h6>
    <!--button id="clear-rule-btn" name="clear-rule-btn" class="btn btn-sm btn-outline-danger">전체삭제</button-->
</div>


<div class="mt-3 mb-3" id="registered-rules">

<template id="item-template">
    <div class="card mb-3 animated fadeIn shadow-sm">
        <div class="card-body">
            <div class="d-flex w-100 justify-content-between" id="card-title">
                <h6 class="card-title text-truncate" style="flex: 1;" id="location-path" title="Location Path"></h6>
                <!--TODO: a tag 적용-->
                <p class="text-muted" id="creation-date" title=""></p>
            </div>
            <p class="card-text text-muted text-truncate" id="other-details"></p>
            <a href="#" class="card-link text-danger" id="remove-item">규칙삭제</a>
            <a href="#" class="card-link text-danger" id="purge-item">폴더도 삭제</a>
        </div>
    </div>
</template>

</div>

<!-- element to trigger the IntersectionObserver -->
<div class="d-flex justify-content-center mb-3" id="sentinel">
    <div class="spinner-border" role="status"></div>
</div>
<!--전체-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">


<script type="text/javascript">
    var package_name = "{{arg['package_name']}}";
    var current_rule_size = parseInt("{{arg['rule_size']}}");
    var ddns = "{{arg['ddns']}}";

    // Get references to the dom elements
    var scroller = document.querySelector("#registered-rules");
    var template = document.querySelector('#item-template');
    var loaded = document.querySelector("#rule-loaded");
    var sentinel = document.querySelector('#sentinel');

    var counter = 0;

    $(document).ready(function() {
        $('#goto_project_home_btn').prop('disabled', true);
    });

    $('#use_project_install').change(function() {
        use_collapse('use_project_install');
        $('#use_manual_root_div').collapse('toggle');
    });

    $('#auth_type0, #auth_type1, #auth_type2').change(function() {
        if (this.value == 2) {
            $('#basic_auth_div').collapse('show');
        } else {
            $('#basic_auth_div').collapse('hide');
        }
    });

    $('select#project_template_sel').change(function() {
        var sel_text = $('#project_template_sel option:selected').text();
        var sel_val = $('#project_template_sel').val();
        if (sel_text.startsWith('http')) {
            $('#goto_project_home_btn').prop('disabled', false);
            $('#project_install_cmd').val(sel_val);
        } else {
            $('#goto_project_home_btn').prop('disabled', true);
            $('#project_install_cmd').val("");
        }
    });
    
    $("body").on('click', '#goto_project_home_btn', function(e) {
        e.preventDefault();
        window.open($('#project_template_sel option:selected').text(), "_blank");
    });

    $("body").on('click', '#gen_random_path_btn', function(e) {
        e.preventDefault();
        $.ajax({
            url: '/' + package_name + '/ajax/gen_random_path',
            type: "POST",
            cache: false,
            dataType: "json",
            data: '',
            context: this,
            success: function(data) {
                if (data.success) {
                    $('#location_path').val('/' + data.random_path);
                } else {
                    $.notify('<strong>실패하였습니다.</strong><br>' + data.log, {
                        type: 'warning'
                    });
                }
            }
        });
    });

    $('input#project_install_dir').change(function() {
        if ($(this).val() == "") {
            $(this).parent().next('div').html("<em>프로젝트를 설치할 루트 폴더 지정하세요.</em>");
            return
        }
        $.ajax({
            url: '/' + package_name + '/ajax/check_path',
            type: "POST",
            cache: false,
            dataType: "json",
            data: {'path': $(this).val()},
            context: this,
            success: function(data) {
                if (data.success) {
                    if (!data.exists) {
                        $(this).parent().next('div').html("<em>없는 폴더입니다. 만든 후 설치를 진행합니다.</em>");
                    } else if (data.isdir) {
                        $(this).parent().next('div').html("<em>설치하고자 하는 폴더가 맞는지 확인하세요.</em><br><pre>"+JSON.stringify(data.listdir, null, 2) + "</pre>");
                    } else if (data.isfile) {
                        $(this).parent().next('div').html("<em>이미 존재하는 경로입니다. 다른 경로 선택!</em>");
                    }
                } else {
                    $(this).parent().next('div').html("<em>" + data.log + "</em>");
                }
            }
        });
    });

    $('input#www_root').change(function() {
        if ($(this).val() == "") {
            $(this).parent().next('div').html("<em>연결할 로컬 경로(/로 시작) 혹은 redirect URL(http로 시작)</em>");
            return
        } else if ($(this).val().startsWith('http://') || $(this).val().startsWith('https://')) {
            $(this).parent().next('div').html("<em>해당 URL로 redirect 합니다.</em>");
            return
        }
        $.ajax({
            url: '/' + package_name + '/ajax/check_path',
            type: "POST",
            cache: false,
            dataType: "json",
            data: {'path': $(this).val()},
            context: this,
            success: function(data) {
                if (data.success) {
                    if (!data.exists) {
                        $(this).parent().next('div').html("<em>존재하지 않는 경로입니다. 연결할 수 없습니다.</em>");
                    } else if (data.isdir) {
                        $(this).parent().next('div').html("<em>연결하고자 하는 폴더가 맞는지 확인하세요.</em><br><pre>"+JSON.stringify(data.listdir, null, 2) + "</pre>");
                    } else if (data.isfile) {
                        $(this).parent().next('div').html("<em>위 파일로 연결합니다.</em>");
                    }
                } else {
                    $(this).parent().next('div').html("<em>" + data.log + "</em>");
                }
            }
        });
    });

    // Function to request new items and render to the dom
    // https://pythonise.com/categories/javascript/infinite-lazy-loading
    function loadItems() {
        // Use fetch to request data and pass the counter value in the QS
        fetch(`/${package_name}/ajax/rule?c=${counter}`).then((response) => {
            response.json().then((res) => {
                if (!res.success) {
                    sentinel.innerHTML = `ERROR: ${res.log}`;
                    return;
                }
                var data = res.ret;
                if (!data.length) {
                    sentinel.innerHTML = "No more items";
                    loaded.innerText = `${counter}/${current_rule_size}`;
                    return;
                }
                // Iterate over the items in the response
                for (var i = 0; i < data.length; i++) {
                    render_single_item(data[i], false);
                    // Increment the counter
                    counter += 1;
                    // Update the counter
                    loaded.innerText = `${counter}/${current_rule_size}`;
                }
            })
        })
    }

    // Create a new IntersectionObserver instance
    var intersectionObserver = new IntersectionObserver(entries => {
        // Uncomment below to see the entry.intersectionRatio when
        // the sentinel comes into view

        // entries.forEach(entry => {
        //   console.log(entry.intersectionRatio);
        // })

        // If intersectionRatio is 0, the sentinel is out of view
        // and we don't need to do anything. Exit the function
        if (entries[0].intersectionRatio <= 0) {
            return;
        }

        // Call the loadItems function
        loadItems();
    });

    // Instruct the IntersectionObserver to watch the sentinel
    intersectionObserver.observe(sentinel);

    // add-rule-btn 버튼
    $("body").on('click', '#add-rule-btn', function(e) {
        e.preventDefault();
        $.ajax({
            url: '/' + package_name + '/ajax/add_rule',
            type: "POST",
            cache: false,
            dataType: "json",
            data: get_formdata('#add-rule'),
            success: function(data) {
                if (data.success) {
                    render_single_item(data.ret);
                    current_rule_size += 1;
                    counter += 1;
                    loaded.innerText = `${counter}/${current_rule_size}`;
                    $.notify('<strong>추가하였습니다.</strong>', {
                        type: 'success'
                    });
                    // reset form
                    $('#location_path').val("");
                    $('#username').val("");
                    $('#password').val("");
                    $('#auth_type0').prop('checked', 'true');
                    $('#auth_type0').trigger('change');
                    $('#project_template_sel option:eq(0)').prop('selected', 'selected');
                    $('#project_install_cmd').val("");
                    $('#project_install_dir').val("");
                    $('#project_install_dir').trigger('change');
                    $('#www_root').val("");
                    $('#www_root').trigger('change');
                    if ($('#use_project_install').is(':checked')) {
                        $('#use_project_install').prop('checked', false).change();
                    }
                } else {
                    $.notify('<strong>실패하였습니다.</strong><br>' + data.log, {
                        type: 'warning'
                    });
                }
            }
        });
    });

    function render_single_item(data, newly_added=true) {
        const datetime = new Date(data.creation_date);
        const datetimeFormat = new Intl.DateTimeFormat('en-US', {
            month: 'short',
            day: 'numeric',
            hour: 'numeric',
            hour12: false,
            minute: 'numeric'
        });
        
        // Clone the HTML template
        let template_clone = template.content.cloneNode(true);
        
        template_clone.querySelector("#location-path").innerHTML = `
            <a href="${ddns + data.location_path}" target="_blank">${data.location_path}</a>
        `;
        template_clone.querySelector("#creation-date").title = data.creation_date;
        template_clone.querySelector("#creation-date").innerHTML = datetimeFormat.format(datetime);
        if (data.auth_type == 0) {
            var auth_name = '없음';
        } else if (data.auth_type == 1) {
            var auth_name = 'SJVA'
        } else if (data.auth_type == 2) {
            var auth_name = 'Basic'
        }
        template_clone.querySelector("#other-details").innerHTML = `
            <span class="text-muted">연결 대상: ${data.www_root}</span><br>
            <span class="text-muted">인증 타입: ${auth_name}</span>
        `;

        // Append template to dom
        if (newly_added) {
            scroller.prepend(template_clone);
        } else {
            scroller.appendChild(template_clone);
        }
    }

    $("body").on('click', '#remove-item,#purge-item', function(e) {
        e.preventDefault();
        var lpath = $(this).siblings().find('#location-path').text().trim();
        var card = $(this).parent().parent();
        var action = (($(this).prop('id')).startsWith('remove')) ? 'del' : 'pur';
        $.ajax({
            url: '/' + package_name + '/ajax/rule',
            type: 'POST',
            cache: false,
            data: {
                'act': action,
                'location_path': lpath
            },
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    $(card).fadeOut(300, function() { $(card).remove(); });
                    current_rule_size -= 1;
                    counter -= 1;
                    loaded.innerText = `${counter}/${current_rule_size}`;
                    $.notify('<strong>삭제하였습니다.</strong><br>재시작 후 적용됩니다.', {
                        type: 'success'
                    });
                } else {
                    $.notify('<strong>실패하였습니다!!!</strong><br>' + data.log, {
                        type: 'warning'
                    });
                }
            }
        });
    });

</script>


{% endblock %}